body,
html {
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.popup {
  text-align: center;
  font-size: 10px;
}

.popup .city {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  color: rgb(50, 50, 50);
}

.popup .temperature {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.popup .weathercode {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 12px;
}
