body,
html {
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

/**
*/

.popup {
  text-align: center;
  font-size: 12px;
}

.popup .city {
  font-weight: bold;
  font-size: 14px;
  color: rgb(50, 50, 50);
}

.popup .temperature {
  font-weight: italic;
  font-size: 16px;
}

.popup .weathercode {
  font-style: italic;
  font-size: 13px;
}